.row-buffer { padding-left:50px; padding-right:50px; }


* {
    font-family: 'Roboto', sans-serif;
    margin: 10;
    padding: 0;
    -webkit-transition: border-color 0.3s linear, background 0.3s linear, color 0.3s linear;
    -moz-transition: border-color 0.3s linear, background 0.3s linear, color 0.3s linear;
    -ms-transition: border-color 0.3s linear, background 0.3s linear, color 0.3s linear;
    -o-transition: border-color 0.3s linear, background 0.23s linear, color 0.3s linear;
    transition: border-color 0.3s linear, background 0.3s linear, color 0.3s linear;
	letter-spacing: 0.05rem;
}

.project-text {
    width:80%;
    margin:auto;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 80%;
    min-height: 80%
}

.img-circle {
    border-radius: 50%;
    width:200px;
}

.project {
	width:50%;
	
}

/*h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

p {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 3rem;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-grey {
	border: 0.2rem solid #333;
	border-radius: 0.2rem;
	color: #111;
	font-weight: bold;
	padding: 1rem 2rem;
	letter-spacing: 0.1rem;
}

.btn-grey:hover {
	color: #fff;
	background: #333;
}

.btn-white {
	border: 0.2rem solid #fff;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
	padding: 1rem 2rem;
	letter-spacing: 0.1rem;
}

.btn-white:hover,
.btn-white:active {
	color: #333;
	background: #fff;
}

.spacer {
	background: #ee5454;
	height: 0.4rem;
	margin: auto;
	margin-bottom: 3.5rem;
	width: 20rem;
}

.container {
	z-index: 1;
}

.navbar {
    background: transparent;
    border: none;
    margin: 0;
    position: absolute;
    width: 100%;
}

.navbar.pinned {
    background: #333;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
	border-color: #333;
	background: #333;
}

.navbar-brand {
	font-size: 32px;
    font-weight: 700;
    color: #fff !important;
    display: none;
}

.navbar.pinned .navbar-brand {
	display: block;
}

.nav > li > a {
    color: #fff !important;
    font-size: 1.6rem;
    font-weight: 100;
}

.headline {
	font-size: 4.8rem;
	font-weight: 100;
	max-width: 640px;
	margin: auto;
	padding: 3rem 0;
	text-align: center;
}

.headline > p {
	font-size: 2.4rem;
	font-weight: 100;
}

.background-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    z-index: 0;
}

.header {
    padding: 16rem 0;
    padding-bottom: 36rem;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bg1.jpg);
    background-attachment: fixed;
}

.header .background-overlay {
    background: #494c43;
    background: -moz-linear-gradient(45deg,  #494c43 0%, #ee5454 100%);
    background: -webkit-linear-gradient(45deg,  #494c43 0%,#ee5454 100%);
    background: linear-gradient(45deg,  #494c43 0%,#ee5454 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494c43', endColorstr='#ee5454',GradientType=1 );
}

.header .content {
	color: #fff !important;
}

.header .content .hello {
    font-size: 3rem;
    font-weight: 100;
    margin: 0 !important;
    line-height: normal;
}

.header .content .name {
	font-size: 6rem;
	font-weight: 700;
    margin: 0 !important;
}

.header .content .titles {
    font-size: 3.6rem;
    font-weight: 100;
    line-height: normal;
    margin: 0 !important;
}

.header .content .separator {
    border-top: 0.2rem solid #fff;
    display: inline-block;
    margin-top: 1rem;
    padding-top: 1.25rem;
}

.header .content .separator > a:first-child {
    margin-right: 1rem;
}

.about {
	margin-top: -20rem;
	padding-top: 6rem;
	-webkit-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
	background: #fff;
}

.about .container {
	-webkit-transform: skew(0deg, 5deg);
	transform: skew(0deg, 5deg);
	text-align: center;
}

.about p {
	color: #666;
}

.about .desk {
	margin: auto;
	margin-top: 3rem;
	max-width: 900px;
	pointer-events: none;
}

.engineer {
	padding-top: 1rem;
}

.engineer {
	position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bg3.jpg);
    background-attachment: fixed;
	color: #fff;
	padding-bottom: 4rem;
}

.engineer .background-overlay {
    background: #494c43;
    background: -moz-linear-gradient(top,  #494c43 0%, #d84e4e 100%);
    background: -webkit-linear-gradient(top,  #494c43 0%,#d84e4e 100%);
    background: linear-gradient(to bottom,  #494c43 0%,#d84e4e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494c43', endColorstr='#d84e4e',GradientType=0 );
}

.engineer .spacer {
	background: #fff;
}

.engineer h3 {
	border-bottom: 0.2rem solid #fff;
	font-size: 2.8rem;
	padding-bottom: 1rem;
}

.engineer li {
	font-size: 2rem;
	font-weight: 100;
	margin: 1rem;
}

.experience {
	background: #eee;
}

.contact {
	background: #333;
	color: #fff;
}

.contact .spacer {
	background: #fff;
}*/