.job-entry {
    position: relative;
}

.job-entry > h3 {
    position: absolute;
    left: -24px;
    top: -11px;
}

.workpanels {
    z-index: 0;
    position:relative
}

.workpanels::before {
    position: absolute;
    border: 1px black solid;
    content: "";
    width: 1px;
    height: 100%;
    left: 102px;
    z-index: 0;
}

.workpanels .popover {
    display: block;
    top: 50px;
    left: 85px;
    width: calc(100% - 200px);
    max-width: 100%;
}

.workpanels .job-entry .workpanel-circle {
    margin-bottom: 20px;
}

.workpanel-circle {
    background-color: black;
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 55px;
}

.workpanels .years {
    width: 55px;
    display:block;
    margin-top: -20px;
}

.workpanels .years .entry:not(:last-child) {
    margin-bottom: 95px;
}

.workpanels .circles {
    padding-left: 28px;
    z-index: 0;
}

.workpanels .timeline-entry {
    background-color: #f4f4f4;
    display: block;
    border-radius: .5rem;
    left: 107px;
    padding: 5px 20px 10px 20px;
    position: relative;
    top: -64px;
    width: calc(100% - 150px);
}

.workpanels-content {
    margin-left: 50px;
}
