.terminal {
    background-color: #35383D;
    color: white;
    padding: 30px;
    border-radius: 5px;
    max-width: 600px;
    min-height: 330px;
}

.terminal-header {
    width: calc(100% + 60px);
    margin: -30px -30px 13px -30px;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    background-color: white;
    color: #5f5f5f;
}
