.component-wrapper {
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    -ms-transition: all 0.5s ease;
    transition: all 1.0s ease;
    padding: 20px;
    min-height: 100%;
}
