.component-wrapper {
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    -ms-transition: all 0.5s ease;
    transition: all 1.0s ease;
    padding: 20px;
    min-height: 100%;
}

.nav-pane a {
    color: black !important;
}

.nav-pane a[aria-current="true"] {
    text-decoration: underline;
}

.navbar-nav a {
    text-align:right;
    display: inherit;
    color: #333333;
    margin-right: 15px;
}

.navbar-brand {
    color: #fff !important;
}

.navbar-toggle {
    border-color: #fff;
}

nav {
    background-color: #adadad !important;
    border-color: #737373 !important;
}

@media(min-width: 768px) {
    nav {
        visibility: hidden;
    }

    #slide-panel {
        margin-top: 60px;
    }

	.page-name {
		padding-left: 90px;
		padding-bottom:0;
		margin: 32px 0px 20px;
	}
	/* CSS Logo */
	.pixel-logo {
		box-shadow:  16px 20px 0 #000000, 20px 20px 0 #000000, 24px 20px 0 #000000, 16px 24px 0 #000000, 20px 24px 0 #000000, 24px 24px 0 #a26b54, 16px 28px 0 #000000, 20px 28px 0 #a26b54, 24px 28px 0 #a26b54, 56px 28px 0 #000000, 20px 32px 0 #a26b54, 56px 32px 0 #000000, 16px 36px 0 #ffffff, 20px 36px 0 #ffffff, 24px 36px 0 #ffffff, 56px 36px 0 #000000, 16px 40px 0 #ffffff, 20px 40px 0 #ffffff, 24px 40px 0 #ffffff, 28px 40px 0 #ffffff, 32px 40px 0 #ffffff, 36px 40px 0 #ffffff, 40px 40px 0 #ffffff, 44px 40px 0 #a26b54, 56px 40px 0 #000000, 68px 40px 0 #ff5722, 72px 40px 0 #ff5722, 12px 44px 0 #000000, 16px 44px 0 #ffffff, 20px 44px 0 #ffffff, 24px 44px 0 #ffffff, 40px 44px 0 #000000, 44px 44px 0 #000000, 48px 44px 0 #000000, 52px 44px 0 #000000, 56px 44px 0 #000000, 68px 44px 0 #ff5722, 72px 44px 0 #ff5722, 12px 48px 0 #000000, 16px 48px 0 #ffffff, 20px 48px 0 #ffffff, 24px 48px 0 #ffffff, 40px 48px 0 #795548, 44px 48px 0 #795548, 48px 48px 0 #795548, 52px 48px 0 #795548, 56px 48px 0 #795548, 60px 48px 0 #795548, 64px 48px 0 #795548, 68px 48px 0 #795548, 72px 48px 0 #795548, 76px 48px 0 #795548, 80px 48px 0 #795548, 12px 52px 0 #000000, 16px 52px 0 #ffffff, 20px 52px 0 #ffffff, 24px 52px 0 #ffffff, 40px 52px 0 #9e9e9e, 44px 52px 0 #9e9e9e, 76px 52px 0 #9e9e9e, 80px 52px 0 #9e9e9e, 12px 56px 0 #000000, 16px 56px 0 #181818, 20px 56px 0 #181818, 24px 56px 0 #181818, 40px 56px 0 #9e9e9e, 80px 56px 0 #9e9e9e, 12px 60px 0 #000000, 16px 60px 0 #181818, 20px 60px 0 #181818, 24px 60px 0 #181818, 28px 60px 0 #181818, 32px 60px 0 #181818, 36px 60px 0 #181818, 40px 60px 0 #9e9e9e, 80px 60px 0 #9e9e9e, 12px 64px 0 #000000, 16px 64px 0 #000000, 20px 64px 0 #000000, 24px 64px 0 #000000, 28px 64px 0 #000000, 32px 64px 0 #000000, 36px 64px 0 #181818, 40px 64px 0 #9e9e9e, 80px 64px 0 #9e9e9e, 12px 68px 0 #000000, 32px 68px 0 #000000, 36px 68px 0 #181818, 40px 68px 0 #9e9e9e, 44px 68px 0 #181818, 80px 68px 0 #9e9e9e, 12px 72px 0 #000000, 32px 72px 0 #000000, 36px 72px 0 #181818, 40px 72px 0 #9e9e9e, 44px 72px 0 #181818, 80px 72px 0 #9e9e9e, 12px 76px 0 #000000, 32px 76px 0 #000000, 36px 76px 0 #181818, 40px 76px 0 #9e9e9e, 48px 76px 0 #181818, 80px 76px 0 #9e9e9e, 12px 80px 0 #000000, 32px 80px 0 #000000, 36px 80px 0 #ffffff, 40px 80px 0 #9e9e9e, 48px 80px 0 #ffffff, 52px 80px 0 #ffffff, 80px 80px 0 #9e9e9e;
		height: 4px;
		width: 4px;
	}
}

@media(max-width: 767px) {
	.pixel-logo {
		box-shadow:  12px 15px 0 #000000, 15px 15px 0 #000000, 18px 15px 0 #000000, 12px 18px 0 #000000, 15px 18px 0 #000000, 18px 18px 0 #a26b54, 12px 21px 0 #000000, 15px 21px 0 #a26b54, 18px 21px 0 #a26b54, 42px 21px 0 #000000, 15px 24px 0 #a26b54, 42px 24px 0 #000000, 12px 27px 0 #ffffff, 15px 27px 0 #ffffff, 18px 27px 0 #ffffff, 42px 27px 0 #000000, 12px 30px 0 #ffffff, 15px 30px 0 #ffffff, 18px 30px 0 #ffffff, 21px 30px 0 #ffffff, 24px 30px 0 #ffffff, 27px 30px 0 #ffffff, 30px 30px 0 #ffffff, 33px 30px 0 #a26b54, 42px 30px 0 #000000, 51px 30px 0 #ff5722, 54px 30px 0 #ff5722, 9px 33px 0 #000000, 12px 33px 0 #ffffff, 15px 33px 0 #ffffff, 18px 33px 0 #ffffff, 30px 33px 0 #000000, 33px 33px 0 #000000, 36px 33px 0 #000000, 39px 33px 0 #000000, 42px 33px 0 #000000, 51px 33px 0 #ff5722, 54px 33px 0 #ff5722, 9px 36px 0 #000000, 12px 36px 0 #ffffff, 15px 36px 0 #ffffff, 18px 36px 0 #ffffff, 30px 36px 0 #795548, 33px 36px 0 #795548, 36px 36px 0 #795548, 39px 36px 0 #795548, 42px 36px 0 #795548, 45px 36px 0 #795548, 48px 36px 0 #795548, 51px 36px 0 #795548, 54px 36px 0 #795548, 57px 36px 0 #795548, 60px 36px 0 #795548, 9px 39px 0 #000000, 12px 39px 0 #ffffff, 15px 39px 0 #ffffff, 18px 39px 0 #ffffff, 30px 39px 0 #9e9e9e, 33px 39px 0 #9e9e9e, 57px 39px 0 #9e9e9e, 60px 39px 0 #9e9e9e, 9px 42px 0 #000000, 12px 42px 0 #181818, 15px 42px 0 #181818, 18px 42px 0 #181818, 30px 42px 0 #9e9e9e, 60px 42px 0 #9e9e9e, 9px 45px 0 #000000, 12px 45px 0 #181818, 15px 45px 0 #181818, 18px 45px 0 #181818, 21px 45px 0 #181818, 24px 45px 0 #181818, 27px 45px 0 #181818, 30px 45px 0 #9e9e9e, 60px 45px 0 #9e9e9e, 9px 48px 0 #000000, 12px 48px 0 #000000, 15px 48px 0 #000000, 18px 48px 0 #000000, 21px 48px 0 #000000, 24px 48px 0 #000000, 27px 48px 0 #181818, 30px 48px 0 #9e9e9e, 60px 48px 0 #9e9e9e, 9px 51px 0 #000000, 24px 51px 0 #000000, 27px 51px 0 #181818, 30px 51px 0 #9e9e9e, 33px 51px 0 #181818, 60px 51px 0 #9e9e9e, 9px 54px 0 #000000, 24px 54px 0 #000000, 27px 54px 0 #181818, 30px 54px 0 #9e9e9e, 33px 54px 0 #181818, 60px 54px 0 #9e9e9e, 9px 57px 0 #000000, 24px 57px 0 #000000, 27px 57px 0 #181818, 30px 57px 0 #9e9e9e, 36px 57px 0 #181818, 60px 57px 0 #9e9e9e, 9px 60px 0 #000000, 24px 60px 0 #000000, 27px 60px 0 #ffffff, 30px 60px 0 #9e9e9e, 36px 60px 0 #ffffff, 39px 60px 0 #ffffff, 60px 60px 0 #9e9e9e;
		height: 3px;
		width: 3px;
		position: absolute;
		top: -14px;
	}
	.navbar-brand > h4 {
		margin-left: 70px;
	}
	.nav-pane {
		visibility: hidden;
		display:none;
	}

	.page-banner {
		visibility: hidden;
		display: none;
	}

	#content-wrapper {
		padding-right: 0px;
		padding-left: 0px;
	}
}
