html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: inherit;
    font-family: 'Titillium Web', sans-serif
}

#content {
    height: inherit;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
