html {
    height: 100%;
}

body {
    height: inherit;
    font-family: 'Titillium Web', sans-serif
}

#content {
    height: inherit;
}

#content > div {
    min-height: 100%
}

.heading {
  font-weight: 700;
}

.subheading {
  font-weight: 300;
}

.slide-out {
    left:-100%;
    -webkit-animation: left-to-right .25s linear forwards;
    animation: left-to-right .25s linear forwards;
}

@-webkit-keyframes left-to-right{
    from{left:-100%}
    to{left:0}
}

/*
 * CSS for react-typist: https://github.com/jstejada/react-typist/
 */
.Cursor {
    display: inline-block;
}
.Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
    opacity: 1; }
    50% {
    opacity: 0; }
    100% {
    opacity: 1; }
}

@media(max-width:767px) {
    .component-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }

    #slide-panel {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 50px;
    }
}
