html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: inherit;
    font-family: 'Titillium Web', sans-serif
}

#content {
    height: inherit;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

/*
 * CSS for react-typist: https://github.com/jstejada/react-typist/
 */
.Cursor {
    display: inline-block;
}
.Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
    opacity: 1; }
    50% {
    opacity: 0; }
    100% {
    opacity: 1; }
}
