.education-item {
    margin-bottom: 5px;
}

.education-item li {
    font-size: 16px;
}

.education-item h3,h4 {
    font-family: 'Ubuntu Mono', monospace;
    display: inline;
}

.education-item h4 {
    color: #777;
}
